* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    font-family: "RoboReg", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: 0;
    cursor: default;
}

.nav-tabs{
    /*width: 760px;*/
}
.nav-tabs li{
    width: 20%;
    text-align: center;
    font-size: 120%
}

.modal-dialog{
    width: 75%;
    max-width: 1300px;
    max-height: 88%;
    overflow-y: auto;
}

.container{
    width: auto;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 5px;
    right: 20px;
    bottom: 5px;
    left: 20px;
}
.container > .tab-content{
    position: absolute;
    top: 72px;
    right: 0;
    bottom: 72px;
    left: 0;
}
.max-width{
    max-width: 790px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.col-label{
    width: 115px;
    position: absolute;
}
.col-field{
    margin-left: 115px;
    padding-left: 0;
    padding-right: 0;
}

h3{
    text-align: center;
    margin-bottom: 1em;
    font-size: 180%;
}


.tab-content{
    font-size: 12px;
}

.tab-content h3{
    margin-top: 0;
}

#settings_tab h3{
    margin-bottom: 30px;
}

.syncing{
    font-size: 60%;
}

.tab-content .tab-pane {    
    position: relative;
}

.form-horizontal .control-label{
    text-align: left;
}


.progress{
    height: 22px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#progress_bar_text_high{
    font-size: 90%; 
    display: none;
}

#progress_bar_text_low{
    font-size: 80%;
}

.control-label{
    font-weight: bold;
}

.ellipsis{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
}

.monospace {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace, mono;
}

.tx-none-found {
    text-align:center;
    margin-top:70px;
}

.tx-list{
    margin-right: 20px;
    font-weight: bold;
}

.tx-list a{
    cursor: pointer;
}

.tx-list.tx-out,
.tx-list.tx-in,
.tx-list.tx-pool,
.tx-list.tx-pending,
.tx-list.tx-out a,
.tx-list.tx-out a:active,
.tx-list.tx-out a:focus{
    margin-bottom: 0;
}

.tx-list.tx-payment-id{
    font-weight: normal;
}

.tx-fee-hide,
.tx-note-hide,
.tx-destinations-hide{
    display: none;
}

.modal-progress-text{
    font-size: 90%;
    font-weight: bold;
    margin-left: 10px;
}

#form_receive input,
#form_send_tx input,
#form_send_tx select{
    font-size: 14px;
}

.btn-sm{
    border-radius: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 12px;
}

table thead tr{
    height: 3em;
}

table tbody tr {
    height: 3em;
    line-height: 1.6em;
}

table thead tr th{
    text-align: left;
    text-size: 18px;
    padding: auto 1em;
}

table tbody tr td a:hover{
    cursor: pointer;
}

.address-book-row{
    cursor: pointer;
}

#address-book-box table{
    width: 100%;
}

#address-book-box table thead {
    width: 100%;
}

#address-book-box table tbody::-webkit-scrollbar-track,
.tx-destinations::-webkit-scrollbar-track {
    border-radius: 6px;
}


#address-book-box table tbody::-webkit-scrollbar,
.tx-destinations::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
}

.tx-destinations::-webkit-scrollbar{
    height: 8px;
}

#address-book-box table tbody::-webkit-scrollbar-thumb,
.tx-destinations::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

.tx-destinations {
    width: 100%;
    max-height: 200px;
    overflow: auto;
    font-size: 90%;
}

.wallet-settings {
    text-align: center;
}

.wallet-settings button {
    margin-left: 20px;
}

.form-control.address-box {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace, mono;
    font-size: 85%;
}

textarea {
    border:none;
    width:100%;
    resize:none;
    font-weight:bold;
}

.panel-default>.panel-heading {
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
    font-weight: bold;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content:"\e114";
    
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content:"\e080";
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    height: 290px;
    overflow: auto;
}

/* Unless we switch from Bootstrap panels, this is the easiest way to make responsive */
@media screen and (min-height: 650px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 340px;
    }
}
@media screen and (min-height: 700px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 390px;
    }
}
@media screen and (min-height: 750px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 440px;
    }
}
@media screen and (min-height: 800px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 490px;
    }
}
@media screen and (min-height: 850px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 540px;
    }
}
@media screen and (min-height: 900px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 590px;
    }
}
@media screen and (min-height: 950px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 640px;
    }
}
@media screen and (min-height: 1000px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 690px;
    }
}
@media screen and (min-height: 1050px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 740px;
    }
}
@media screen and (min-height: 1100px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 790px;
    }
}
@media screen and (min-height: 1150px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 840px;
    }
}
@media screen and (min-height: 1200px){
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        height: 890px;
    }
}

.panel-default > .panel-heading + .panel-collapse > .panel-body::-webkit-scrollbar-track {
    border-radius: 6px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body::-webkit-scrollbar {
    width: 8px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

.modal-progress-subtext{
    text-align: center;
}


